#AboutCard{
    background-color: #F5F5F5;
}
#AboutCard .AboutCard-top{
    height: auto;
    color: #ffffff;


}

#AboutCard .AboutCard-bottom{
    background-image: url('../../assets/images/img1.jpg');
    background-color: #eee;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 30vh;
    color: #ffffff;
}
