.sermon{
    background-color: #ffffff;
}

#sermon-top{
    background-image: url('../../assets/images/img2.jpg');
    background-color: #eee;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    color: #ffffff;
}


#sermon-bottom{
    
}